include README.rst
exclude trackable/local_settings.py
exclude trackable/test_settings.py
include trackable/fixtures/spider.json
include trackable/tests/fixtures/page.json
include trackable/tests/templates/tests/page_detail.html